html,
body {
  padding: 12px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #F7F7F7;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



.App{
  position: relative;
  justify-items: center;
  align-items: center;
}

.videoContainer {
  display: flex;
  flex-direction: row;
  height: 75vh;
}

.heading {
  align-self: flex-start;
  margin-bottom: 0;
}

#videos{
  position: relative;
  height: 85vh;
  width: 100vw;
  margin: auto;
  align-self: flex-start;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  justify-items: center;
  align-items: center;
}

.vid{
  position: relative;
  background-color:black;
  border-width: 1px;
  border-color: #38373A;
  border-style: solid;
  margin-top: 1rem;
}

.controls{
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}
  
.controls p{
  padding: 10px;
  cursor: pointer;
  background: #28ad9b;
  color: #F7F7F7;
  border-width: 1px;
  border-color: #28ad9b;
  border-style: solid;
  margin-right: 1rem;
}
  
.controls p.on{
  background: #F7F7F7;
  color: #28ad9b;
  border-width: 1px;
  border-color: #28ad9b;
  border-style: solid;
  margin-right: 1rem;
}
  
.join{
  position: absolute;
  z-index: 1;
  width: 30vw;
  height: fit-content;
  height: -moz-max-content;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 500px;
  max-width: 75vw;
}
  
.join  input{
  padding: 15px;
  font-size: 1rem;
  border-width: 1px;
  border-color: #38373A;
  border-style: solid;
  width: 80%;
  display: block;
  margin:  20px auto;
}

.join  select{
  padding: 15px;
  font-size: 1rem;
  border-width: 1px;
  border-color: #38373A;
  border-style: solid;
  width: 80%;
  display: block;
  margin:  20px auto;
}

.join  select::after{
  content: "▼";
  font-size: 1rem;
  top: 6px;
  right: 10px;
  position: absolute;
}
  
.join  button{
  min-width: 200px;
  padding: 12px 0;
  text-align: center;
  background-color: #28ad9b;
  color: #F7F7F7;
  border-width: 1px;
  border-color: #F7F7F7;
  border-style: solid;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border-radius: 30px;
}

.chatContainer {
  display: flex;
  flex-direction: column-reverse;
  height:100%;
  padding-left: 1rem;
  overflow-y: scroll;
}

.textMessage{
  width: 100%;
  resize: none;
}

.chat {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

